<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar(${isLoggedIn}, ${username})" />
        <div id="real_body"
             class="d-flex justify-content-center"
        >
            <div class="mx-5 container w-75 mt-2">
                <div class="row col-12 text-center">
                    <h1 class="mb-3">My Favourité Recipé</h1>
                </div>

                <div th:if="${recipes.isEmpty()}">
                    <div class="card border border-0 d-flex justify-content-center align-items-center text-center mt-5">
                        <div class="opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                        <a
                                class="stretched-link"
                                th:href="@{/api/v1/recipes/add}"></a>
                        <h2 class="mt-3">Add a new recipe</h2>
                    </div>
                </div>
                <div
                        class="m-5 d-flex flex-column justify-content-center"
                        th:if="not (${recipes} == null)"
                >
                    <div th:each="recipe : ${recipes}">
                        <div class="d-flex align-items-center bg-light text-dark rounded shadow mb-5 flex-wrap">
                            <div class="flex-shrink-0">
                                <img
                                        class="img-fluid rounded mx-auto d-block m-2"
                                        th:src="@{${recipe.getImageUrl()}}"
                                        style="max-height:10rem; object-fit: fill; object-position: center; aspect-ratio: 1 /1;"
                                        alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3 p-3">
                                <h5>
                                    <a
                                            th:text="${recipe.getName()}"
                                            th:href="@{'/api/v1/recipes/details?id=' + ${recipe.getId()}}"></a></h5>
                                <p th:text="${recipe.getDescription()}" />
                            </div>
                            <div class="me-3">
                                <a th:href="@{${'/api/v1/recipes/favourite/remove?id=' + recipe.getId()}}" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                    Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="d-flex flex-column"
                        th:if="${recipes} == null"
                >
                    <div class="row">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <a
                                class="btn btn-primary"
                                th:href="@{/api/v1/favourite/add}"
                                th:text="'Add Meal Plan'"></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: html_footer"/>
        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>