.dshadow {
    filter: drop-shadow(0px 5px 50rem #004d00);
    filter: drop-shadow(0px 2px 6px #004d00);
}
.carousel-item {
    min-height: 100vh;
}

.recipeDescription{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70vw;
}
h5 .recipeName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}
h1{
    color: #004d00;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.recipeList{
    margin: 5%;
}
.recipe{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 1%;
}
.login{
   background-image: url("static/images/background/loginBackground.jpeg");
}
.loginCard{
    background: transparent;
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #004d00;
    text-align: center;
    color: white;
}
nav{
    padding-right: 2%;
}
.add{
    height: 50px;
    width: 50px;
}
.heart:hover {
    background: url('static/images/buttons/heartClicked.png') no-repeat;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
}
.recipeView{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    margin: 2%;

}
.recipeImage{
    height: 500px;
    width: 800px;
}

.recipeDescriptionView{
    text-align: center;
}
.recipeAddForm{
    padding-bottom: 10%;
}
.addRecipe{
    border: 2px solid #004d00;
    border-radius: 20px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addRecipe label{
    font-weight: bold;
}