.dshadow {
    filter: drop-shadow(0px 5px 50rem #004d00);
    filter: drop-shadow(0px 2px 6px #004d00);
}
.carousel-item {
    min-height: 100vh;
}

.recipeDescription{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70vw;
}
h5 .recipeName{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}
h1{
    color: #004d00;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.recipeList{
    margin: 5%;
}
.recipe{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 1%;
}
.login{
   background-image: url("static/images/background/loginBackground.jpeg");
}
.loginCard{
    background: transparent;
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #004d00;
    text-align: center;
    color: white;
}

.add{
    height: 50px;
    width: 50px;
}
.heart:hover {
    background: url('static/images/buttons/heartClicked.png') no-repeat;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Playfair Display', serif;
}
.recipeView{
    border: 1px solid black;
    border-radius: 20px;
    padding: 1%;
    margin: 2%;
    background: #a3b5a3;
}
.recipeImage{
    margin-bottom: 5vh;
    text-align: center;
}

.recipeDescriptionView{
    text-align: center;
    margin: 2%;
}
/*.recipeInfo{*/
/*    margin-top: 25vh;*/
/*}*/
.recipeAddForm{
    padding-bottom: 10%;
}
.addRecipe{
    border: 2px solid #004d00;
    border-radius: 20px;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* styling paper */
#paper {
    width: 25vw;
    height: 30vh;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* styling red vertical line */
#paper::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
    background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
    padding-top: 6px;
    padding-left: 56px;
    padding-right: 16px;
    line-height: 25px;
    font-size: 19px;
    font-family: 'Raleway', sans-serif;;
    letter-spacing: 1px;
    word-spacing: 5px;
}
.img-wrap {
    width: 50vh;
    height: 50vh;
    position: relative;
    display: inline-block;
    object-fit: contain;
    overflow: hidden;
    margin: 0;
}
h2{
    color: #004d00;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}