<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<div th:replace="fragments :: html_navbar"/>
<div class="recipeView container">
    <h1 th:text="${recipe.getName()}"></h1>
    <div style="text-align: center">
    <input type="image" src="/images/buttons/plus.png" name="submit" width="30" height="30" alt="submit"/>
    <input type="image" src="/images/buttons/edit.png" name="submit" width="30" height="30" alt="submit"/>
    <input type="image" src="/images/buttons/remove.png" name="submit" width="30" height="30" alt="submit"/>
    </div>
    <div class="row">
    <div class="recipeImage col img-wrap" style="align-content: center;">
        <img alt="Image of recipe" th:src="@{${recipe.getImageUrl()}}">
    </div>
    <div class="recipeInfo col" style="text-align: center; font-weight: bold;">
        <div id="paper" style="transform: rotate(2deg);">
            <div id="pattern">
                <div id="content">
                    <div th:text="'Prep Time: '+ ${recipe.getPrepTime()} + ' mins'"></div>
                    <div th:text="'Cook Time: '+${recipe.getCookTime()} + ' mins'"></div>
                    <div th:text="'Total Time: '+(${recipe.getPrepTime()} + ${recipe.getCookTime()}) + ' mins'"></div>
                    <div th:text="'Servings: '+${recipe.getServings()}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="recipeDescriptionView">
        <p th:text="${recipe.getDescription()}"></p>
    </div>

    <div class="recipeIngredients">
        <h2>Ingredients</h2>
        <!--<div th:text="${recipe.ingredients()}></div>-->
    </div>

    <div class="recipeDirections">
        <h2>Directions</h2>
<!--        <p th:text="${recipe.getDirections()()}"></p>-->
    </div>
</div>
<div th:replace="fragments :: html_footer" />
<script th:replace="fragments :: bootstrap_script"/>
</body>
</html>