<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<div th:replace="fragments :: html_navbar"/>
<div class="recipeView">
    <h1 th:text="${recipe.getName()}"></h1>
    <div class="recipeImage" style="text-align: center;">
        <img alt="Image of recipe" th:src="@{${recipe.getImageUrl()}}">
    </div>
    <div class="recipeInfo" style="text-align: center">
        <div th:text="'Prep Time: '+ ${recipe.getPrepTime()} + ' mins'"></div>
        <div th:text="'Cook Time: '+${recipe.getCookTime()} + ' mins'"></div>
        <div th:text="'Total Time: '+(${recipe.getPrepTime()} + ${recipe.getCookTime()}) + ' mins'"></div>
        <div th:text="'Servings: '+${recipe.getServings()}"></div>
    </div>
    <div class="recipeDescriptionView">
        <p th:text="${recipe.getDescription()}"></p>
    </div>

    <div class="recipeIngredients">
        <h2>Ingredients</h2>
        <!--<div th:text="${recipe.ingredients()}></div>-->
    </div>

</div>
</div>
<div th:replace="fragments :: html_footer" />
<script th:replace="fragments :: bootstrap_script"/>
</body>
</html>