<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<div th:replace="fragments :: html_navbar"/>
<h1>Add Recipe</h1>
        <form class="addRecipe"
              th:action="@{${action}}"
              th:object="${req_recipe}"
              method="post">
            <input
                    type="hidden"
                    name="imageUrl"
                    th:field="*{id}"
            />
            <!-- Name field -->
            <div class="col-md-12">
                <label for="recipe_name_input" class="form-label">Name</label>

                <input
                        class="form-control"
                        type="text"
                        name="name"
                        th:field="*{name}"
                        th:value="${req_recipe.getName()}"
                        id="recipe_name_input"
                >
            </div>
            <br>
            <!-- Default ImageURL field -->
            <div class="col-md-12">
                <label for="recipeImage" class="col-form-label">Recipe Image</label>
                <input
                        type="file"
                        accept="image/*"
                        name="imageUrl"
                        id="recipeImage"
                        th:field="*{imageUrl}"
                        th:value="${req_recipe.getImageUrl()}"/>
            </div>
            <br>
            <!-- Description field -->
            <div class="col-md-12">
                <label for="recipe_description_input" class="form-label">Description</label>
                <textarea
                        class="form-control"
                        name="description"
                        rows="4"
                        style="width: 100%;"
                        th:field="*{description}"
                        th:value="${req_recipe.getDescription()}"
                        id="recipe_description_input"
                ></textarea>
                <div id="description_message"></div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="row">
                    <!-- PrepTime field -->
                    <div class="row col-4">
                        <label
                                for="recipe_servings_input"
                                class="form-label"
                        >Prep Time</label>
                        <input
                                class="form-control"
                                type="number"
                                name="prepTime"
                                th:field="*{prepTime}"
                                th:value="${req_recipe.getPrepTime()}"
                                id="recipe_prep_input">
                        <span id="prep_min">minute</span>
                    </div>
                    <div class="col-4">
                        <label for="recipe_servings_input" class="form-label">Cook Time</label>
                        <input
                                class="form-control"
                                type="number"
                                name="cookTime"
                                th:field="*{cookTime}"
                                th:value="${req_recipe.getCookTime()}"
                                id="recipe_cook_input"
                        >
                        <span id="cook_min">minute</span>
                    </div>
                    <div class="col-4">
                        <label for="recipe_servings_input" class="form-label">Servings</label>
                        <input
                                class="form-control"
                                type="number"
                                name="servings"
                                th:field="*{servings}"
                                th:value="${req_recipe.getServings()}"
                                id="recipe_servings_input"
                        >

                    </div>
                </div>
            </div>
            <br>
            <!-- Ingredient Section START -->
            <div class="col-md-12">
                <label class="form-label">Ingredients</label>
                <textarea
                        class="form-control"
                        rows="3"
                        style="width: 100%;"
                        name="ingredient"
                        th:field="*{ingredients}"
                        th:value="${req_recipe.getIngredients()}"
                        id="recipe_ingredient_input"
                ></textarea>
                <div id="ingredient_message"></div>
                <!-- [PENDING] Ingredients as objects
                <div id="ingredient_input_1">
                    <div id="ingredient_input">
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="recipe_direction_input">
                        </div>
                        <div class="col-md-3">
                            <button id="btn_del_1">DEL</button>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">Add Ingredient</button>
                -->
            </div>
            <br>
            <div class="col-md-12">
                <label class="form-label">Directions</label>
                <textarea
                        class="form-control"
                        rows="3"
                        style="width: 100%;"
                        name="directions"
                        th:field="*{directions}"
                        th:value="${req_recipe.getDirections()}"
                        id="recipe_direction_input"
                ></textarea>
                <div id="directions_message"></div>
            </div>
            <br>
            <div class="col-12">
                <select class="form-select" aria-label="Recipe Difficulty Select" name="difficulty">
                    <option selected>Select difficulty for this recipe</option>
                    <option value="Easy">Easy</option>
                    <option value="Moderate">Moderate</option>
                    <option value="Hard">Hard</option>
                </select>
            </div>
            <br>
            <div class="col-12 mb-3" style="text-align: center">
                <button type="submit" class="btn btn-primary" style="background: #004d00; color: white; border: #004d00">Save changes</button>
            </div>
        </form>

<script th:src="@{/js/recipe_form.js}"></script>
<div th:replace="fragments :: html_footer" />
<script th:replace="fragments :: bootstrap_script"/>
</body>
</html>