<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar" />
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
        <h1>Recipe list</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Prep Time</th>
                <th scope="col">Cook Time</th>
                <th scope="col">Servings</th>
                <th scope="col">Ingredients</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td th:text="${recipe.name}" />
                    <td th:text="${recipe.description}" />
                    <td th:text="${recipe.prepTime}" />
                    <td th:text="${recipe.cookTime}" />
                    <td th:text="${recipe.servings}" />
                    <td th:text="${recipe.ingredients}" />
                </tr>
            </tbody>
        </table>
        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>