<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_head" />
    <body>
        <div th:replace="fragments :: html_navbar" />

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>

        <div>
            <h2 th:text="${recipe.getName()}"></h2>

            <p th:text="${recipe.getDescription()}"></p>

            <img th:src="@{${recipe.getImageUrl()}}" alt="This is just a mockup image">
            <div>
                <div th:text="${recipe.getPrepTime()} + ' mins'"></div>
                <div th:text="${recipe.getCookTime()} + ' mins'"></div>
                <div th:text="(${recipe.getPrepTime()} + ${recipe.getCookTime()}) + ' mins'"></div>
                <div th:text="${recipe.getServings()}"></div>
            </div>

            </div>
        </div>

        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>