<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar(${isLoggedIn}, ${username})"></div>
        <div class="d-flex justify-content-center">
                <div class="row m-3 m-5 rounded shadow bg-light text-dark w-75 px-5 py-3">
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0 mt-1 me-0">
                            <div class="d-flex align-items-center">
                                <div class="rounded border p-1 px-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-suit-heart m-1" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                    </svg>
                                    <a
                                            class=""
                                            th:href="@{'/api/v1/recipes/favourite/add?id=' + ${recipe.getId()}}"
                                            th:alt="'Add to your favourite'"
                                    >Add to Favourite List</a>
                                </div>
                                <div th:if="${isLoggedIn}" class="bg-light rounded border p-1 px-2 ms-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                    <a
                                            class=""
                                            th:href="'/api/v1/recipes/edit?id=' + ${recipe.getId()}"
                                            th:alt="'Edit this'"
                                    >Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <h2 th:text="${recipe.getName()}"></h2>
                    </div>
                    <div class="col-md-12">
                        <p th:text="${'Difficulty: ' + recipe.getDifficulty()}"></p>
                    </div>
                    <div class="col-md-12">
                        <p th:text="${recipe.getDescription()}"></p>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-9 p-3">
                            <img
                                    class="img-fluid rounded mx-auto d-block"
                                    th:src="@{${recipe.getImageUrl()}}"
                                    alt="This is just a mockup image">
                        </div>

                        <!--- Img and Time START --->
                        <div class="col-3 p-1">
                            <table
                                    class="table"
                            >
                                <tbody>
                                <tr>
                                    <td>
                                        <h4>Prep Time (min)</h4>
                                        <p th:text="${recipe.getPrepTime()} + ' mins'"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Cook Time (min)</h4>
                                        <p th:text="${recipe.getCookTime()} + ' mins'"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Total Time (min)</h4>
                                        <p th:text="(${recipe.getPrepTime()} + ${recipe.getCookTime()}) + ' mins'"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Servings</h4>
                                        <p th:text="${recipe.getServings()}"></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--- Img and Time END --->
                    <div class="row col-12">
                        <div class="row col-md-6 d-flex flex-column align-items-start">
                            <h4>Ingredients</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-md-4"></th>
                                        <th scope="col" class="col-md-7"></th>
                                        <th scope="col" class="col-md-1"></th>
                                    </tr>
                                </thead>
                                <tbody th:each="ingredient : ${recipe.getRecipeIngredients()}">
                                    <tr>
                                        <td scope="row" th:text="${ingredient.quantity + ' ' + ingredient.unitOfMeasurement + ' of '}"></td>
                                        <td th:text="${ingredient.description}"></td>
                                        <td>
                                            <a th:if="${isLoggedIn}" th:href="@{${'/api/v1/shopping-list/add?id=' + ingredient.getId()}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <h4 class="mb-3">Directions</h4>
                            <ul th:each="direction : ${reformat_directions}">
                                <li th:if="${direction} != ''" th:text="${direction}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>