<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar" />

        <div class="d-flex justify-content-center m-3 mx-5">

            <div class="card mb-3 mx-5 shadow" style="min-width: 40vw; max-width: 60vw;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Link</a>
                                </li>
                            </ul>
                            <h5 class="card-title">Log In</h5>
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else. I promise!!!</div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" style="width: 100%; background-color: coral; color: #fff;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>