<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${'YourRecipe ' + page_title}" />
    <!-- Bootstrap stylesheet -->
    <link th:fragment="bootstrap_stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Swiper for page scrolling -->
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body>
<div th:replace="fragments :: html_navbar(${isLoggedIn}, ${username})"/>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-bg-dark">
                <img th:src="@{/images/background/article-gf-mealplan-hero.jpg}" class="opacity-25 d-block w-100 card-image" alt="First member" style="height: 100%; max-height: 95vh; object-fit: cover; object-position: center; aspect-ratio: 1 /1;">
                <div class="card-img-overlay">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="m-5">
                            <h2 class="card-title">Angela Efremova</h2>
                            <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at bibendum sem, vel accumsan elit. In vel ornare enim. Vestibulum eget leo scelerisque, lacinia orci ac, placerat nisi. In cursus risus varius diam viverra porttitor. Suspendisse hendrerit tortor eget turpis tincidunt fermentum. Nullam ut viverra lacus, sed pulvinar justo. Nulla consequat finibus maximus.
                                Aliquam feugiat lacinia interdum. Suspendisse sit amet enim neque. Aenean vestibulum malesuada ligula, vel feugiat nisl volutpat et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac aliquet justo, in elementum orci. Fusce vel arcu sit amet augue cursus volutpat. Morbi accumsan tortor eget nibh rhoncus fringilla. Praesent maximus elit a odio vulputate, id lobortis mi molestie. Etiam auctor, nibh in lacinia hendrerit, nunc leo feugiat tortor, et facilisis orci leo eu nunc. Nunc dapibus congue nulla, lacinia varius lectus luctus sit amet. Phasellus finibus enim enim, et pulvinar felis lacinia at. Nulla a lectus tellus. Suspendisse vestibulum, dui quis lobortis sollicitudin, nunc sem sodales quam, in commodo leo lorem at turpis. </p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-bg-dark">
                <img th:src="@{/images/background/image04-4.jpg}" class="opacity-25 d-block w-100 card-image" alt="Second member" style="height: 100%; max-height: 95vh; object-fit: cover; object-position: center; aspect-ratio: 1 /1;">
                <div class="card-img-overlay">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="m-5">
                            <h2 class="card-title">Farshad Jalali Ameri</h2>
                            <p class="card-text"> Vestibulum a lorem placerat, varius purus sed, imperdiet felis. Sed condimentum libero sit amet est dignissim, et suscipit mi luctus. Morbi sed mollis dui. Vestibulum sed suscipit quam. Sed sit amet felis ornare nibh pharetra dictum eget luctus turpis. Cras at sollicitudin sapien, at cursus augue. Vivamus pellentesque pretium lacus vel rutrum.

                                Duis id facilisis sapien. Aenean pretium neque nec tincidunt gravida. Quisque tempor condimentum vehicula. Curabitur blandit augue mi, at ornare nunc aliquet sagittis. Integer vel eros interdum orci consequat fermentum. Phasellus vitae purus sit amet arcu cursus sagittis quis eu nisl. Proin sapien tortor, euismod vel tempor eget, fringilla eget urna. In eu accumsan risus. Vestibulum ac magna vulputate, tristique mi non, posuere dui. Fusce vitae lacinia leo, non scelerisque justo. </p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">

            <div class="card text-bg-dark">
                <img th:src="@{/images/background/specialdiets-vegan-meal-plan.jpg}" class="opacity-25 d-block w-100 card-image" alt="Third Member" style="height: 100%; max-height: 95vh; object-fit: cover; object-position: center; aspect-ratio: 1 /1;">
                <div class="card-img-overlay">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="m-5">
                            <h2 class="card-title">Le An Nguyen</h2>
                            <p class="card-text"> Vestibulum a lorem placerat, varius purus sed, imperdiet felis. Sed condimentum libero sit amet est dignissim, et suscipit mi luctus. Morbi sed mollis dui. Vestibulum sed suscipit quam. Sed sit amet felis ornare nibh pharetra dictum eget luctus turpis. Cras at sollicitudin sapien, at cursus augue. Vivamus pellentesque pretium lacus vel rutrum.

                                Duis id facilisis sapien. Aenean pretium neque nec tincidunt gravida. Quisque tempor condimentum vehicula. Curabitur blandit augue mi, at ornare nunc aliquet sagittis. Integer vel eros interdum orci consequat fermentum. Phasellus vitae purus sit amet arcu cursus sagittis quis eu nisl. Proin sapien tortor, euismod vel tempor eget, fringilla eget urna. In eu accumsan risus. Vestibulum ac magna vulputate, tristique mi non, posuere dui. Fusce vitae lacinia leo, non scelerisque justo. </p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card text-bg-dark">
                <img th:src="@{/images/background/ut-medium-meal-plan-660x396.jpg}" class="opacity-25 d-block w-100 card-image" alt="forth member" style="height: 100%; max-height: 95vh; object-fit: cover; object-position: center; aspect-ratio: 1 /1;">
                <div class="card-img-overlay">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="m-5">
                            <h2 class="card-title">Sarah Sami</h2>
                            <p class="card-text"> Duis id facilisis sapien. Aenean pretium neque nec tincidunt gravida. Quisque tempor condimentum vehicula. Curabitur blandit augue mi, at ornare nunc aliquet sagittis. Integer vel eros interdum orci consequat fermentum. Phasellus vitae purus sit amet arcu cursus sagittis quis eu nisl. Proin sapien tortor, euismod vel tempor eget, fringilla eget urna. In eu accumsan risus. Vestibulum ac magna vulputate, tristique mi non, posuere dui. Fusce vitae lacinia leo, non scelerisque justo.

                                Phasellus lorem diam, hendrerit viverra ipsum a, scelerisque ultrices tellus. Donec vel massa scelerisque, molestie velit et, posuere purus. Donec suscipit at est in varius. Phasellus vitae venenatis magna, rhoncus imperdiet augue. Quisque vel posuere lacus. Fusce consequat rhoncus eros ac lobortis. Aenean vitae ultricies odio. In non nisi odio. Donec non fermentum velit. Nullam efficitur euismod lorem, eu feugiat purus ultrices et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi mattis mauris et erat vehicula lobortis. Pellentesque porta aliquam nibh ac rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse eu convallis risus, eu egestas felis. </p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<script th:replace="fragments :: bootstrap_script" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="js/about_snapping_scroll.js"></script>
</body>
</html></html>