<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar" />
        <div class="card text-bg-dark m-1">
            <img class="opacity-25 d-block w-100 card-image" th:src="@{/images/background/ut-medium-meal-plan-660x396.jpg}" alt="" style="max-height: 18rem;">
            <div class="card-img-overlay">
                <div class="d-flex justify-content-center">
                    <h1>Welcome to Recipe App</h1>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center align-content-stretch m-5 flex-wrap g-2 g-lg-3">
            <div th:each="recipe : ${fake_recipes}">
                <div class="p-2 align-self-stretch">
                    <div class="card" style="max-width: 18vw;">
                        <img th:src="@{/images/mDishes/1Rutabaga-Beef-Stew-cda62388960c4a339a7655cdd7e854bf.webp}" class="card-img-top" alt="...">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-12 text-truncate">
                                    <h5 class="card-title"><a th:href="@{/}" th:text="${recipe}"></a></h5>
                                </div>
                            </div>
                            <table class="table table-borderless">
                                <body>
                                    <tr>
                                        <td th:text="'PrepTime'"></td>
                                        <td th:text="'Forever'"></td>
                                    </tr>
                                    <tr>
                                        <td th:text="'CookTime:'"></td>
                                        <td th:text="'Forever'"></td>
                                    </tr>
                                </body>
                            </table>
                            <hr>
                            <span><small th:text="'Moderate'"></small></span>
                        </div>
                    </div>
                </div>
            </div><div th:each="recipe : ${recipes}">
            <div class="p-2 align-self-stretch">
                <div class="card" style="max-width: 18vw;">
                    <img th:src="@{${recipe.getImageUrl()}}" class="card-img-top" alt="...">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-12 text-truncate">
                                <h5 class="card-title"><a th:text="${recipe.getName()}" th:href="@{'/api/v1/recipes/details?id=' + ${recipe.getId()}}"></a></h5>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <body>
                            <tr>
                                <td class="" th:text="'PrepTime'"></td>
                                <td th:text="${recipe.getPrepTime()} + ' min'"></td>
                            </tr>
                            <tr>
                                <td th:text="'CookTime:'"></td>
                                <td th:text="${recipe.getCookTime()} + ' min'"></td>
                            </tr>
                            </body>
                        </table>
                        <hr>
                        <p><span th:text="'Difficulty: '"></span><small th:text="${recipe.getDifficulty()}"></small></p>

                    </div>
                </div>
            </div>
        </div>
        </div>

        <div th:replace="fragments :: html_footer" />
        <script th:replace="fragments :: bootstrap_script" />
        <script>
            const triggerTabList = [].slice.call(document.querySelectorAll('#uac-panel a'));
            triggerTabList.forEach((triggerEl) => {
                const tabTrigger = new mdb.Tab(triggerEl);

                triggerEl.addEventListener('click', (event) => {
                    event.preventDefault();
                    tabTrigger.show();
                });
            });
        </script>
    </body>
</html>