<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: html_header" />
<body>
<div th:replace="fragments :: html_navbar(${isLoggedIn}, ${username})"/>
<!-- Real Body -->
<div class="row col-12 bg-secondary text-white pt-4 pb-4 px-5">
    <h2 class="ms-3">Your Shopping List</h2>
</div>
<div id="real_body"
     class="container py-3 px-5 w-100"
>
    <!-- DEPRECATED
    // REASON: UNIDENTIFIED
    <div class="row col-12">
        <form
                class="row"
                th:action="@{/api/v1/ingredients/search}"
        >
            <div class="col-md-6">
                <input class="form-control" name="keyword">
            </div>
            <div class="col-md-4">
                <button class="btn btn-outline-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    Search for ingredient
                </button>
            </div>
        </form>
    </div> -->

    <div class="row col-12">
        <div class="col-8">
            <div class="rounded-3 bg-white p-3 my-3 px-5 shadow">
                <div th:if="not ${list.isEmpty()}">
                    <div class="d-flex flex-row-reverse">
                        <div class="d-flex align-items-center">
                            <span>Do you know that you can actually </span>
                            <div class="d-flex mx-2">
                                <a th:href="@{/api/v1/shopping-list/download}" class="btn btn-outline-primary px-3 d-flex align-items-center">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                    </div>
                                    <div class="ms-2">Download</div>
                                </a>
                            </div>
                            <span> your shopping list?</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div th:if="${list.isEmpty()}">
                    <div class="text-center opacity-50 my-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                        </svg>
                        <div>Your shopping list is empty</div>
                    </div>
                </div>
                <div th:if="not ${list.isEmpty()}"
                >
                    <div th:each="r : ${corr_recipes}">
                        <div class="d-flex align-items-center bg-success text-white rounded px-2 py-1">
                            <span>for</span>
                            <h4 class="ms-2" th:text="${r.getName()}"></h4>
                        </div>
                        <div class="row mb-3 ms-5">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Unit</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody th:each="i : ${list}">
                                    <tr th:if="${i.getRecipe().getId() == r.getId()}" >
                                        <td scope="row" th:text="${i.getDescription()}"></td>
                                        <td th:text="${i.getQuantity()}"></td>
                                        <td th:text="${i.getUnitOfMeasurement().name()}"></td>
                                        <td>
                                            <a class="btn btn-outline-success" th:href="@{${'/api/v1/shopping-list/delete?id=' + i.getId()}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                                </svg>
                                                Mark as done
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="rounded-3 bg-white shadow p-3 mt-3 mx-1">
                <h5 class="p-0">You might want to add</h5>
                <div class="px-2">
                    <hr />
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments :: html_footer"></div>
<script th:replace="fragments :: bootstrap_script" />
</body>
</html>