<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="fragments :: html_header" />
    <body>
        <div th:replace="fragments :: html_navbar(${isLoggedIn}, ${username})" />

        <div id="real_body"
             class="d-flex justify-content-center"
        >
            <div class="mx-5 container w-75 mt-2">
                <div class="row col-12 text-center">
                    <h1 class="mb-3">My Meal Plans</h1>
                </div>
                <div class="row col-12">
                    <div class="col-md-6">
                        <a
                                class="btn btn-primary"
                                th:href="@{/api/v1/recipes}"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                            Go to Favourite Recipes
                        </a>
                    </div>
                    <div
                            th:if="not (${plans.isEmpty()})"
                            class="col-md-6 d-flex flex-row-reverse"
                    >
                        <a
                                class="btn btn-primary"
                                th:href="@{/api/v1/mealplans/add}"
                                th:text="'Add new plan'"
                        ></a>
                    </div>
                </div>
                <hr>
                <div
                        class="m-5 d-flex flex-column justify-content-center"
                        th:if="not (${plans.isEmpty()})"
                >
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Dish</th>
                                <th scope="col">Meal</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody th:each="plan : ${plans}">
                            <tr>
                                <th scope="row" th:text="${plan.getId()}"></th>
                                <td th:text="${plan.getDate()}"></td>
                                <td th:text="${plan.getDish()}"></td>
                                <td th:text="${plan.getRecipe().getName()}"></td>
                                <td class="d-flex flex-row p-2">
                                    <div class="card border border-0 me-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        <a class="stretched-link" th:href="@{'/api/v1/mealplans/edit?id=' + ${plan.getId()}}"></a>
                                    </div>
                                    <div class="card border border-0 p-0 m-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                        <a class="stretched-link" th:href="@{'/api/v1/mealplans/delete?id=' + ${plan.getId()}}"></a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>

                <div th:if="${plans.isEmpty()}">
                    <div
                            class="card border border-0 d-flex justify-content-center align-items-center text-center"
                            style="margin-top: 10vh; margin-bottom: 10vh;"
                    >
                        <div class="opacity-25">
                            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </div>
                        <a
                                class="stretched-link"
                                th:href="@{/api/v1/mealplans/add}"></a>
                        <h2 class="mt-3">Add a new plan</h2>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="fragments :: html_footer"></div>
        <script th:replace="fragments :: bootstrap_script" />
    </body>
</html>